.business-model {
  margin-bottom: 40px;
  div {
    margin-bottom: 20px;
    max-width: 74px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    color: $white;
    font-size: 20px;
    font-weight: 300;
  }
}