.section-business {
  background-image: url('../img/backgrounds/gradient.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -30px;
  padding-top: 85px;
  padding-bottom: 90px; 
  @include media-breakpoint-down('md') {
    padding-top: 45px;
    padding-bottom: 54px;
  }
  .title-underline {
    letter-spacing: -2px !important;
    @include media-breakpoint-down('md') {
      margin-bottom: 50px;
      text-align: center;
      .underline-info {
        &:after {
          left: 50%;
          @media screen and (max-width: 767px) {
            left: 78%;
          }
          @media screen and (max-width: 517px) {
            left: 65%;
          }
          @media screen and (max-width: 450px) {
            left: 50%;
          }
        }
      }
    }
  }
}