.section-compare {
  margin-top: -140px;
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url('../img/backgrounds/light-blue-background.jpg');
  background-position: center;
  background-size: cover;
  background-color: $white;
  position: relative;
  z-index: 2;
  .title-underline {
    margin-bottom: 38px;
    .underline-info {
      &:after {
        left: 50%;
      }
    }
  }
  @include media-breakpoint-down('lg') {
    padding-top: 49px;
    margin-top: 0;
  }
  .compare-text {
    margin-bottom: 40px;
  }
  .compare-table {
    margin-top: 20px;
    padding: 50px 75px;
    background: $white;
    width: 100%;
    @include media-breakpoint-down('md') {
      padding: 34px 23px; 
    }
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 40px 0 rgba($black, .2);
    table {
      width: 100%;
      thead {
        tr {
          th {
            text-align: center;
            img {
              max-width: 120px;
              height: auto;
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $gray-300;
          &:last-child {
            border-bottom: 0;
          }
          td {
            text-align: center;
            padding: 10px 0;
            &:first-child {
              width: 238px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .compare-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $secondary;
    text-align: center;
    @include media-breakpoint-down('xs') {
      flex-wrap: wrap;
      .title, .btn {
        margin-bottom: 24px !important;
      }
      padding-bottom: 0;
    }
    .title {
      margin-bottom: 0;
      color: $white;
      margin-right: 20px;
      @include media-breakpoint-down('xs') {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}